<%- include('../partials/header') %>

<section id="show-page">
  <div>Airline: </div>
  <div><%= flight.airline %></div>
  <div>Airport: </div>
  <div><%= flight.airport %></div>
  <div>FlightNo: </div>
  <div><%= flight.flightNo %></div>
  <div>Departs: </div>
  <div><%= flight.departs %></div>
  <div>Destination:</div>
  <div><%= flight.destinations %></div>
</section>

<form id="add-air-to-des" action="/flights/<%= flight._id%>/" method="POST">
  <select name="airport">
    <option value="DFW">DFW</option>
    <option value="LAX">LAX</option>
    <option value="AUS">AUS</option>
    <option value="SAN">SAN</option>
    <option value="DEN">DEN</option>
</select>
  <button type="submit">Add to Flight</button>
</form>

<%- include('../partials/footer') %>